:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
header {
  border-bottom: 1px solid var(--corn-flower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.address {
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  display: none;
}
.header {
  background: var(--white, #fff);
  border-bottom: 1px solid #e7e9fc;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.link-slogan {
  color: var(--ocean);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-black {
  color: var(--navyblue, #2e2f42);
}
.nav-logo {
  display: none;
}

.mobile-open-btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 22px;
}
.mobile-open-icon {
  stroke: #2e2f42;
}

.nav-link-list {
  padding: 24px 0;
}
.list-link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-link-nav:hover,
.list-link-nav:focus {
  color: #404bbf;
}
.nav-list-link .current {
  position: relative;
  color: var(--ocean);
}
.current {
  position: relative;
  color: #404bbf;
}
.list-link-nav.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--ocean);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
}
.mob-close-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 0;
}
.mob-menu-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-logo {
    display: flex;
    gap: 40px;
  }
  .address {
    display: block;
  }
  .mobile-open-btn {
    display: none;
  }
  .link-slogan {
    margin-right: 120px;
  }
  .nav-adress {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .list-address {
    color: var(--slate, #434455);
    font-size: 12px;

    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-address:hover,
  .list-address:focus {
    color: #404bbf;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .link-slogan {
    margin-right: 76px;
  }
  .nav-adress {
    flex-direction: row;
    gap: 40px;
  }
  .list-address {
    font-size: 16px;
    line-height: 1.5;
  }
}

.head {
  background: var(--navyblue, #2e2f42);
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/hero-mob1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}
.hed-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.btn-hed {
  background: var(--iris, #4d5ae5);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hed:hover {
  background-color: #404bbf;
}
.btn-hed:focus {
  background-color: #404bbf;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .head {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/hero-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .head {
    padding: 112px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/hero-tab1x.jpg);
  }
  .hed-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .head {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .head {
    padding: 188px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/hero-desk1x.jpg);
  }
  .hed-title {
    margin-bottom: 48px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .head {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/hero-desk2x.jpg);
  }
}

.section-steap {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-step {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.skill-list-item {
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}
.list-snipper-name {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.list-snippet-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (min-width:768px) {
.list-step{
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px ;
  }  
  .list-snippet-step{
    width: calc((100% - 24px) / 2);
  }
  .list-snipper-name{
    text-align: left;
  }

}
@media screen and (min-width:1158px) {
  .section-steap{
    padding: 120px 0;
  }
  .list-step{
    gap: 24px;
  }
  .list-snippet-step{
    width: calc((100% - 72px) / 4);
  }
  .skill-list-item{
    display: flex;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
  }
  .list-snipper-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .list-snippet-text{
    font-weight: 400;
  }
}











.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.head-line {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-style: normal;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.list-team {
  display: flex;
  gap: 72px;
  align-items: center;
  flex-direction: column;
}






.img-team {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  border: 0 solid transparent;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-team-works {
  padding: 32px 0;
}
.list-snipper-name-team {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-bottom: 8px;
  align-self: flex-start;
  text-align: center;
}

.list-snippet-text-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-self: flex-start;
  text-align: center;
  margin-bottom: 8px;
}
.team-social-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--cloud);
  background-color: var(--iris);
  transition: background-color var(--transition);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
  background-color: #404bbf;
}
@media screen and (min-width:768px) {
  .list-team{
    gap: 64px 24px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  }
@media screen and (min-width:1158px) {
  .section-team{
    padding: 120px 0;
  }
  .list-team{
    gap: 24px;
  }
}












/* footer */

.footer {
  background: var(--navyblue, #2e2f42);
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
   gap: 72px;
}
.footer-logo-container {
  display: block;
  text-align: center;
}
.link-slogan-footer {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}
.nav-white {
  color: var(--cloud, #f4f4fd);
}
.text-footer {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: left;
  max-width: 264px;
}
.fotter-social-container {
  display: block;
  text-align: center;
}

.fotter-social-desc {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.footer-social-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--cloud);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}
.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
textarea:focus {
  border-color: #4d5ae5;
}
.form-imput::placeholder {
  color: var(--white);
}
.submit-foot {
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  margin: 0;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white, #fff);
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
.foot-button {
  margin-left: 16px;
}

@media screen and (min-width:768px) {
.footer-logo-container{
  text-align: left;
}
  .footer-container{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    /* padding-left: 108px;
    padding-right: 164px; */
  }  
  .fotter-social-desc{
    text-align: left;
  }
  .footer-form{
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width:1158px) {
  
  
  .footer-container{
    flex-wrap: nowrap;
   

  }
  .footer-logo-container{
    display: block;
    margin-right: 120px;
    
    
  }
  .text-footer{
    font-size: 16px;
    font-style: normal;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .fotter-social-container{
    margin-right: 80px;
  }
}




















/* footer */

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navy-blue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-90%);
}
.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-btn {
  background-color: var(--cornflower, #e7e9fc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: #ffffff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.102);
  background-color: #404bbf;
  border: none;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
form {
  display: block;
  margin-top: 0em;
}
input:focus {
  border-color: #4d5ae5;
}

input:checked + label > span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.modal-info {
  display: block;
  margin-bottom: 16px;
  width: 360px;
  text-align: center;
  font-weight: 500;
  color: var(--grey);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.modal-label {
  margin-bottom: 8px;
}
.modal-form-field {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
}
.modal-form-input:focus + .modal-form-icone {
  fill: #4d5ae5;
}
.modal-form-icone {
  fill: var(--grey);
  position: absolute;
  bottom: 8px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
}
.modal-label-comments {
  margin-bottom: 16px;
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-agreement {
  margin-bottom: 24px;
}
.modal-form-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-form-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}
.modal-form-custom-chekbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-icon {
  fill: #f4f4fd;
}
.modal-form-link {
  color: var(--iris);
  text-decoration: underline;
}
.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-width: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.form-button:hover {
  background-color: #404bbf;
}
.form-button:focus {
  background-color: #404bbf;
}
/* 

modal window

*/

/* 

portfolio 

*/
.portfolio {
  padding: 96px 0;
}
.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-item {
  display: flex;
  gap: 48px;
  align-items: center;
  flex-direction: column;
}
.list-snipper-name-portfolio{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
margin-bottom: 8px;

}
.list-snippet-text-portfolio{
  font-size: 16px;
  font-weight: 400;
   line-height: 1.5;
}

.content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.project-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-card-link:hover .overlay-portfolio {
  transform: translateY(0%);
}
.project-card-link:focus .overlay-portfolio {
  transform: translateY(0%);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
}

@media screen and (min-width:768px) {
  .list-item{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  }
  @media screen and (min-width:1158px) {
   .list-item{
    gap: 48px 24px;
   }
  }









/* .headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.nav-link {
  color: var(--navyblue, #2e2f42);
   font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* .section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  font-size: 36px;
  font-style: normal;

  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
} */
